DOCTYPE html
html(lang="en")
    head
        meta(charset="utf-8")
        title url-shortener
        script(src="lib/angular/angular.min.js")
        script(src="lib/jquery/dist/jquery.min.js")
        link(href="css/style.css")
        script(src="js/javascript.js")
    body
        .wrapper
            h1 URL SHORTENER
                
                .output.hidden
                    code#url-short {{ url.short_url }}
                    
                form
                    input#form-url(name="original_url" type="text" required)
                    button#submit(type="button") Shorten
                    button(type="reset") Clear
                    
        script(src="js/app.js")
        script(src="js/services/urlshort.js")
        script(src="js/controller/urlCtrl.js")
